@font-face {
    font-family: Proxima SemiBold; /* Имя шрифта */
    src: url(fonts/ProximaNova-Semibold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima BlackIt; /* Имя шрифта */
    src: url(fonts/ProximaNova-BlackIt.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima Black; /* Имя шрифта */
    src: url(fonts/ProximaNova-Black.ttf); /* Путь к файлу со шрифтом */
   }
/* MENU */
:root{
	--headerheight: 6%;
}
body{
	width: 100%;
	overflow-x: hidden;
}
#phone-header-menu{	
	height: calc(var(--headerheight) * 10);
	width: 90%;
	/*top: -%;*/
	top: -54%;
	left: 0%;
	padding-left: 5%;
	padding-right: 5%;

	transition: top 1s ease;
	z-index: 100;
	background-color: #fff;
	position: fixed;
	display: none;
}	
	#phone-header-top{
		width: 100%;
		height: calc(var(--headerheight) * 15);
		background-color: #f8f8f8;
	}
		.phone-header-top-item{
			height: 10%;
			width: 94%;	
			margin-left: 3%;
			padding-top: 5%;
			text-align: center;

			font-size: 150%;
			font-family: 'Proxima BlackIt';
			line-height: 100%;
			transition: background-color 0.5s ease;
			color: #000;
			text-decoration: none;
		}
	#phone-header-bot{
		width: 100%;
		height: calc(var(--headerheight) * 1.66666667);
		background-color: #fff;
	}
	#phone-header-menu #header-logo{
		width: 20%;
	}
	#phone-header-menu .header-item{
		width: 20%;
		float: right;
	}
#header-menu{
	position: fixed;
	height: var(--headerheight);
	width: 100%;
	background-color: #fff;

	top: 0%;
	left: 0%;
	padding-left: 20%;
	padding-right: 20%;
	z-index: 100;
	display: block;
}
	#header-placeholder{
		height: var(--headerheight);
		width: 100%;
		margin: 0%;
	}	
	#header-logo{
		height: 100%;
		float: left;
		width: 10%;

		background-image: url(images/logo_transp_b.png);
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;	
		background-color: #fff;
		transition: background-color 0.5s ease;
	}
	#header-logo:hover{
		background-image: url(images/logo_transp_w.png);
		/*background-color: #e401cf;*/
		background-color: #333;
		cursor: pointer;
	}
	#header-items{
		/*height: 100%;*/
	}
	.header-item{
		float: left;
		width: 10%;	
		height: 100%;

		min-height: 100%;
		font-size: 130%;
		font-family: 'Proxima BlackIt';
		text-align: center;
		line-height: 100%;
		background-color: #fff;
		transition: background-color 0.5s ease;
		color: #000;
		text-decoration: none;
	}	
	a{
		color: inherit;
		text-decoration: inherit;
	}
	.header-item b{
		color: #e401cf;
	}
	.header-item-a:hover, .phone-header-top-item:hover{
		background-color: #333;
		cursor: pointer;
		color: white;
	}
	/*#header-login-not-phone{
		margin-left: 10%; 
		width: 10%; 
		font-size: 100%
	}*/

/* ERROR*/
#error_div{
	--width: calc(32% + 4px);

	position: fixed;
	margin-left: calc((100.2% - var(--width))/2);
	/*height: 100%;*/
	width: var(--width);
	line-height: 10%;
	top: 90%;

	text-align: center;
	transition-property: transform,opacity;
	transition-timing-function: ease;
	transition-duration: 2s;
	/*transition:  2s ease;*/
	transform: translateX(-30px);
	opacity: 0;
	color: white;
	font-family: 'Proxima SemiBold';
	font-size: 100%;
	background-color: rgba(245, 70, 12, 0.7);

	z-index: 50;
	/*border: 2px rgba(245, 70, 12, 0.7) solid;*/
}
	#error_div p{
		line-height: 100% !important;
	}
	#error_div:hover{
		transform: scale(1.05);
	}

/*@media screen and (min-width: 0px) and (max-width: 1470px) {
	#header-login{
		width: 15%; 
		margin-left: 5%; 
	}
}
@media screen and (min-width: 0px) and (max-width: 1470px) {
	#header-login{
		width: 15%; 
		margin-left: 5%; 
	}
}*/
@media screen and (min-width: 0px) and (max-width: 500px) {
	#phone-header-menu #header-logo{
		width: 30%;
		background-size: 95%;
	}
	#header-menu{
		display: none;
	}
	#phone-header-menu{
		display: block;
	}
}
@media screen and (min-width: 500px) and (max-width: 850px) {
	#header-menu{
		display: none;
	}
	#phone-header-menu{
		display: block;
	}
}
@media screen and (min-width: 850px) and (max-width: 1470px) {
	.header-item{
		width: 13.33333333%;	
	}
	#header-logo{
		width: 13.33333333%;	
	}
	#header-menu{
		padding-left: 10% !important;
		padding-right: 10%;
	}
	/*#header-login{
		width: 19.999999%; 
		margin-left: 5%; 
	}*/
}