@font-face {
    font-family: Proxima SemiBold; /* Имя шрифта */
    src: url(fonts/ProximaNova-Semibold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima BlackIt; /* Имя шрифта */
    src: url(fonts/ProximaNova-BlackIt.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima Black; /* Имя шрифта */
    src: url(fonts/ProximaNova-Black.ttf); /* Путь к файлу со шрифтом */
   }
/* MENU */
:root{
	--headerheight: 6%;
}
body{
	width: 100%;
	overflow-x: hidden;
	overflow-y: initial;
}
#loading-wrapper{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;

	z-index: 999;
	position: absolute;
	background-repeat: no-repeat;
	background-color: #fff;
	background-image: url(images/logo_transp_b.png);
	background-position: center;
	background-size: 10%;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: visible;
  	opacity: 1;
}
	#loading-wrapper-gradient{
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0%;

		background: linear-gradient(115deg, rgba(28,28,124,0) 35%, rgba(255,255,255,0.7) 37%, rgba(2,0,36,0) 39%);
		animation-duration: 3s;
 		animation-name: load;
 		animation-iteration-count: infinite;
	}
	@keyframes load {
	  from {
	    margin-left: 5%;
	  }

	  to {
	    margin-left: 25%;
	  }
	}
#phone-header-menu{	
	height: calc(var(--headerheight) * 10);
	width: 90%;
	/*top: -%;*/
	top: -54%;
	left: 0%;
	padding-left: 5%;
	padding-right: 5%;

	transition: top 1s ease;
	z-index: 100;
	background-color: #fff;
	position: fixed;
	display: none;
}	
	#phone-header-top{
		width: 100%;
		height: calc(var(--headerheight) * 15);
		background-color: #f8f8f8;
	}
		.phone-header-top-item{
			height: 10%;
			width: 94%;	
			margin-left: 3%;
			padding-top: 5%;
			text-align: center;

			font-size: 150%;
			font-family: 'Proxima BlackIt';
			line-height: 100%;
			transition: background-color 0.5s ease;
			color: #000;
			text-decoration: none;
		}
	#phone-header-bot{
		width: 100%;
		height: calc(var(--headerheight) * 1.66666667);
		background-color: #fff;
	}
	#phone-header-menu #header-logo{
		width: 20%;
	}
	#phone-header-menu .header-item{
		width: 20%;
		float: right;
	}
#header-menu{
	position: fixed;
	height: var(--headerheight);
	width: 100%;
	background-color: #fff;

	top: 0%;
	left: 0%;
	padding-left: 20%;
	padding-right: 20%;
	z-index: 100;
	display: block;
}
	#header-placeholder{
		height: var(--headerheight);
		width: 100%;
		margin: 0%;
	}	
	#header-logo{
		height: 100%;
		float: left;
		width: 10%;

		background-image: url(images/logo_transp_b.png);
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;	
		background-color: #fff;
		transition: background-color 0.5s ease;
	}
	#header-logo:hover{
		background-image: url(images/logo_transp_w.png);
		/*background-color: #e401cf;*/
		background-color: #333;
		cursor: pointer;
	}
	#header-items{
		/*height: 100%;*/
	}
	.header-item{
		float: left;
		width: 10%;	
		height: 100%;

		min-height: 100%;
		font-size: 130%;
		font-family: 'Proxima BlackIt';
		text-align: center;
		line-height: 100%;
		background-color: #fff;
		transition: background-color 0.5s ease;
		color: #000;
		text-decoration: none;
	}	
	a{
		color: inherit;
		text-decoration: inherit;
	}
	.header-item b{
		color: #e401cf;
	}
	.header-item-a:hover, .phone-header-top-item:hover{
		background-color: #333;
		cursor: pointer;
		color: white;
	}
	/*#header-login-not-phone{
		margin-left: 10%; 
		width: 10%; 
		font-size: 100%
	}*/
/*SERVICE*/
.hidden-on-start{
	display: none;
}
#player{
	position: absolute;
	top: 80%;
	height: 15%;
	left: 80%;
	width: 15%;
	padding: 10px;
	padding-top: 0px;

	background-color: #f3f3f3;
	color: #333;
}
	#player h1{
		font-family: 'Proxima BlackIt';
		font-size: 120%;
		line-height: 100%;
		padding-top: 15px;
		padding-left: 2px;
	}
	#player h1 b{
		background-color: #333;
		padding: 3px;
		font-size: 80%;
		padding-left: 5px;
		padding-right: 5px;

		color: #fff;
	}
	#player-wrap{
		padding-top: 3%;

		font-family: 'Proxima Semibold';
		font-size: 130%;
		text-align: center;
	}
	#player a{
		color: #555;

		background-color: #fff;
		transition: all 0.5s ease;
		padding-left: 3px;
		padding-right: 3px;
		/*text-decoration: underline;*/
	}
	#player a:hover{
		color: #fff;
		cursor: pointer;
		background-color: #333;
	}
	#player p{
		font-family: 'Proxima Semibold';
		font-size: 100%;
	}
/* GUI */
.gui{
	--width: 20%;

	position: absolute;
	margin-left: calc((100% - var(--width))/2);
	top: 28%;
	/*height: 30%;*/
	width: var(--width);
	border: 2px #333 solid;
	background-color: #fff;
	z-index: 45;
	position: fixed;
}
	#gui-bg{
		width: 100%;
		height: 100%;
		z-index: 40;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: rgba(0,0,0,0.5);

		display: none;
	}
	.gui input{
		width: calc(100% - 20px);
		background-color: #e8e8e8;
		border: none;
		padding: 10px;
	}
	.gui input:focus{
		outline: none;
	}
	.gui-but{
		width: 90%;
		background-color: #333;
		border: none;
		color: black;
		padding: 10px;
		padding-bottom: 0px;
		line-height: 110%;
		margin: 5%;

		opacity: 1;

		transform: skewX(-12deg) translateY(0%);
		font-family: 'Proxima Black';
		font-size: 150%;
		color: white;
		background-color: #333;
		transition: all 0.5s ease;
	}
	.gui-but:hover{
		cursor: pointer;
		opacity: 1;
		transform: skewX(-12deg) translateY(5%);
	}	
	.gui-but-small{
		width: 50%;
		margin-left: 25%;
	}
	.gui_title{	
		text-align: center;
		width: 100%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;

		color: #fff;
		font-family: 'Proxima SemiBold';
		font-size: 150%;
		background-color: #333;
		
	}
	@media screen and (min-width: 0px) and (max-width: 300px) {
		.gui{
			--width: 90%;
			margin-left: calc((100% - var(--width))/2 - 3%);}
		.gui-but-small{
			width: 85%;
			margin-left: 7.5%;}
	}
	@media screen and (min-width: 300px) and (max-width: 500px) {
		.gui{
			--width: 70%;
			margin-left: calc((100% - var(--width))/2 - 3%);}
		.gui-but-small{
			width: 85%;
			margin-left: 7.5%;}
	}
	@media screen and (min-width: 500px) and (max-width: 600px) {
		.gui{
			--width: 60%;
			margin-left: calc((100% - var(--width))/2 - 3%);}
		.gui-but-small{
			width: 85%;
			margin-left: 7.5%;}
	}
	@media screen and (min-width: 600px) and (max-width: 800px) {
		.gui{--width: 60%;}
		.gui-but-small{
			width: 80%;margin-left: 10%;
		}
	}
	@media screen and (min-width: 800px) and (max-width: 910px) {
		.gui-but-small{
			width: 80%;
			margin-left: 10%;}
		.gui{--width: 50%;}
	}
	@media screen and (min-width: 910px) and (max-width: 1100px) {
		.gui-but-small{
			width: 80%;
			margin-left: 10%;}
		.gui{--width: 35%;}
	}

	@media screen and (min-width: 1100px) and (max-width: 1200px) {
		.gui-but-small{
			width: 80%;
			margin-left: 10%;}
		.gui{--width: 30%;}
	}
	@media screen and (min-width: 1200px) and (max-width: 1400px) {
		.gui-but-small{
			width: 70%;
			margin-left: 15%;}
		.gui{--width: 30%;}
	}

	@media screen and (min-width: 1400px) and (max-width: 1650px) {
		.gui-but-small{
			width: 60%;
			margin-left: 20%;}
	}
/* Help */
#help_div{
	font-family: 'Proxima BlackIt';
	color: #000;
	width: 90%;
	margin-left: 5%;
	text-decoration: none;
}
	#help_div p{
		padding: 3px;
		width: auto;
		transition: 0.4s;
		text-decoration: underline;
	}
	#help_div a{
		color: inherit;
		text-decoration: inherit;
	}
	#help_div p:hover{
		background-color: #333;
		cursor: pointer;
		color: #fff;
		transform: translateY(5%);
	}
	#help_div i{
		color: #333;
	}
	#help_div b{
		/*padding: 3px;*/
		/*width: auto;*/
		/*margin: 5px;*/
	}
/* ERROR*/
#error_div{
	--width: calc(32% + 4px);

	position: fixed;
	margin-left: calc((100.2% - var(--width))/2);
	/*height: 100%;*/
	width: var(--width);
	line-height: 10%;
	top: 90%;

	text-align: center;
	transition-property: transform,opacity;
	transition-timing-function: ease;
	transition-duration: 2s;
	/*transition:  2s ease;*/
	transform: translateX(-30px);
	opacity: 0;
	color: white;
	font-family: 'Proxima SemiBold';
	font-size: 100%;
	background-color: rgba(245, 70, 12, 0.7);

	z-index: 50;
	/*border: 2px rgba(245, 70, 12, 0.7) solid;*/
}
	#error_div p{
		line-height: 100% !important;
	}
	#error_div:hover{
		transform: scale(1.05);
	}

/*@media screen and (min-width: 0px) and (max-width: 1470px) {
	#header-login{
		width: 15%; 
		margin-left: 5%; 
	}
}
@media screen and (min-width: 0px) and (max-width: 1470px) {
	#header-login{
		width: 15%; 
		margin-left: 5%; 
	}
}*/
@media screen and (min-width: 0px) and (max-width: 500px) {
	#phone-header-menu #header-logo{
		width: 30%;
		background-size: 95%;
	}
	/*.header-item{
		width: 5%;
	}*/
	#header-menu{
		display: none;
	}
	#phone-header-menu{
		display: block;
	}
}
@media screen and (min-width: 500px) and (max-width: 850px) {
	#header-menu{
		display: none;
	}
	#phone-header-menu{
		display: block;
	}
}
@media screen and (min-width: 850px) and (max-width: 1470px) {
	.header-item{
		width: 13.33333333%;	
	}
	#header-logo{
		width: 13.33333333%;	
	}
	#header-menu{
		padding-left: 10% !important;
		padding-right: 10%;
	}
	/*#header-login{
		width: 19.999999%; 
		margin-left: 5%; 
	}*/
}

@media screen and (min-height: 0px) and (max-height: 300px) {
	.gui{
		top: 10%;
		overflow: scroll;
	}
}
@media screen and (min-height: 300px) and (max-height: 600px) {
	.gui{
		top: 15%;
	}
}
@media screen and (min-height: 600px) and (max-height: 900px) {
	.gui{
		top: 20%;
	}
