
 /*DEPENDENCIES*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@font-face {
    font-family: Proxima SemiBold; /* Имя шрифта */
    src: url(fonts/ProximaNova-Semibold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima BlackIt; /* Имя шрифта */
    src: url(fonts/ProximaNova-BlackIt.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima Black; /* Имя шрифта */
    src: url(fonts/ProximaNova-Black.ttf); /* Путь к файлу со шрифтом */
   }
:root{
	--headerheight: 6%;
}
/* MENU */

#header-menu{
	position: fixed;
	height: var(--headerheight);
	width: 100%;
	background-color: #fff;

	/*margin: 0%;*/
	top: 0%;
	left: 0%;
	padding-left: 20%;
	padding-right: 20%;
	z-index: 100;
}
	#header-placeholder{
		height: var(--headerheight);
		width: 100%;
		margin: 0%;
	}	
	#header-items{
		/*vertical-align: 10px;*/
	}
	#header-logo{
		height: 100%;
		float: left;
		width: 10%;

		background-image: url(images/logo_transp_b.png);
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;	
		background-color: #fff;
		transition: background-color 0.5s ease;
	}
	#header-logo:hover{
		background-image: url(images/logo_transp_w.png);
		/*background-color: #e401cf;*/
		background-color: #333;
		cursor: pointer;
	}
	.header-item{
		float: left;
		width: 10%;	
		height: 100%;

		font-size: 130%;
		font-family: 'Proxima BlackIt';
		text-align: center;
		line-height: 100%;
		transition: background-color 0.5s ease;
	}	
	.header-item b{
		color: #e401cf;
	}
	.header-item-a:hover, .header-double-item:hover{
		background-color: #333;
		cursor: pointer;
		color: white;
	}
	#header-login{
		margin-left: 10%; 
		width: 10%; 
		font-size: 100%
	}
#wrapper-content{
	height: 100%;
	margin: 0px;
	top: 0px;
	background-color: purple;
	width: 70%;
	margin-left: 15%;
}

#global_chat{
	position: absolute;
	left: 45%;
	top: 10%;
	width: 20%;
	height: 30%;
	background-color: #e8e8e8;
	border-radius: 10px;
}
/*#global_chat_1{
=======
#global_chat_1{
>>>>>>> 179b7b163088f59af5976412b3564b9af5e27a2f
	position: absolute;
	left: 15%;
	top: 10%;
	width: 90%;
	height: 90;
<<<<<<< HEAD
}*/
#result_form{
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 120px;
	width: 80%;
}

@media screen and (min-width: 0px) and (max-width: 1470px) {
	#header-login{
		width: 15%; 
		margin-left: 5%; 
	}
}