
#wrapper-content{
	height: 100%;
	margin: 0px;
	top: 0px;
	/*background-color: blue;*/
	width: 70%;
	/*background-color: yellow;*/
	margin-left: 15%;
}
	#wrapper-left{
		/*background-color: purple;	*/
		width: 72%;
		float: left;
		padding-right: 3%;
		overflow-y: hidden;
	}
	#wrapper-right{
		/*background-color: purple;	*/
		width: 25%;
		float: left;
		height: 100%;
		background-color: #fff; 
	}
#global_chat{
	width: calc(100% - 0px);
	height: 70%;
	background-color: #f8f8f8;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
	/*border: 2px solid #e401cf;*/
}
	.gchat-title{	
		z-index: 20;
		text-align: center;
		width: 100%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;

		transition: all 0.5s ease;
		line-height: 100%;
		color: #fff;
		font-family: 'Proxima BlackIt';
		font-size: 150%;
		background-color: #333;
		
	}
	#gchat-hide{
		height: 100%;
	}
	.gchat-title:hover{
		/*background-color: #e401cf;*/
		cursor: pointer;
		line-height: 200%;
	}
	#result_form, #local_answer{
		overflow-x: hidden;
		overflow-y: scroll;
		max-height: 100%;
		height: all;	
		width: 96%;
		height: 60%;
		padding: 2%;
	}
	#global_chat input, #local_chat input, #local_chat select{
		width: calc(100% - 20px);
		margin-left: 10px;
		background-color: #e8e8e8;
		border: none;
		padding: 10px;
	}
	#global_chat input:focus, #local_chat input:focus, #local_chat select:focus{
		outline: none;
	}
	/*#global_chat button{
		width: calc(100% - 20px);
		margin-left: 10px;
		font-family: Proxima SemiBold;	
		background-color: #e8e8e8;
		border: none;
		padding: 10px;
	}*/


#local_chat{
	margin-top: 3%;
	width: calc(100% - 0px);
	height: 20%;
	background-color: #fff;
	background-color: #f8f8f8;
	font-family: 'Proxima Semibold';
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}
	.chat-my-msg{
		float: left;
		border-left: 3px #e401cf solid;
		padding-left: 3px;
	}
	.chat-my-header{
		float: left;
		color: #e401cf;
	}
	.chat-companion-msg{
		float: right;
		border-right: 3px #333 solid;
		padding-right: 3px;
	}
	.chat-companion-header{
		float: right;
		color: #333;
	}

/* ARTICLE */
.article-one{
	width: 100%;
	height: 20%;
	background-image: url('images/art1.jpg');
	background-size: 100%;
	background-position: center;
	margin-bottom: 3%;
	float: left;
}
.article-triple{
	width: 31.33333%;
	height: 20%;
	background-image: url('images/bg.jpg');
	background-size: 120%;
	background-position: center;
	margin-bottom: 3%;
	/*margin-right: 3%;*/
	float: left;
	
}	
	#article-tp-to-chat{
		display: none;
	}
	.article{
		transition: all 0.5s ease;
	}
	.article-one:hover{
		background-size: 110%;
		cursor: pointer;
	}
	.article-triple:hover{
		background-size: 130%;
		cursor: pointer;
	}
	.article-triple-separator{
		width: 3%;
		float: left;
	}
	.article-content{
		background: linear-gradient(to right, rgba(255,255,255,0.7) 0%, 50%,rgba(255,255,255,0) 100%);
		color: #000;
		width: 100%;
		height: 100%;
		float: left;
	}
	.article-watch{
		height: 100%;
		float: right;
		width: 0%;	
		background-color: #333;
		transition: 0.5s;
	}
	.article-content br{
		line-height: 0%;
	}
	.article-content h1 i{
		width: 0px;
		line-height: 0px;
	}
	.article-content h1{
		line-height: 80%;
		margin-left: 3%;
		font-family: 'Proxima BlackIt';
	}
	.article-content p{
		margin-left: 3%;
		font-family: 'Proxima Semibold';
	}



@media screen and (min-width: 0px) and (max-width: 300px) {
	#wrapper-content{
		width: 98%;
		margin-left: 0%;
	}
	.article-one{
		height: 15%;
		font-size: 80%;
	}	
	.article-triple{
		width: 100%;
		background-size: 100%;
		height: 15%;
		font-size: 80%;
	}	
	.article-triple-separator{
		display: none;
	}
	#wrapper-left, #wrapper-right{
		width: 97%;
		margin-right: 3%;
		padding-right: 0%;
	}
	#article-tp-to-chat{
		display: block;
	}
	.article-sub-text{
		display: none;
	}
}
/*@media screen and (min-width: 300px) and (max-width: 400px) {
	#wrapper-content{
		width: 98%;
		margin-left: 1%;
	}
	.gui{
		--width: 80%;
		margin-left: calc((100% - var(--width))/2 - 3%);
	}
}*/
@media screen and (min-width: 300px) and (max-width: 500px) {
	#wrapper-content{
		width: 98%;
		margin-left: 0.3%;
	}
	.article-one{
		height: 15%;
	}	
	.article-triple{
		width: 100%;
		background-size: 100%;
		height: 15%;
	}	
	.article-triple-separator{
		display: none;
	}
	#wrapper-left, #wrapper-right{
		width: 97%;
		margin-right: 3%;
	}
	#article-tp-to-chat{
		display: block;
	}
	.article-sub-text{
		display: none;
	}
}
@media screen and (min-width: 500px) and (max-width: 600px) {
	#wrapper-content{
		width: 98%;
		margin-left: 1%;
	}
	.article-one{
		height: 15%;
	}	
	.article-triple{
		width: 100%;
		background-size: 100%;
		height: 15%;
	}	
	.article-triple-separator{
		display: none;
	}
	#wrapper-left{
		width: 63%;
		padding-right: 2%;
	}
	#wrapper-right{
		width: 35%;
	}
	.gui-but-small{
		width: 85%;
		margin-left: 7.5%;
	}
	.article-sub-text{
		display: none;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px) {
	#wrapper-content{
		width: 98%;
		margin-left: 1%;
	}
	.article-one{
		height: 20%;
	}	
	.article-triple{
		width: 100%;
		background-size: 100%;
		height: 20%;
	}	
	.article-triple-separator{
		display: none;
	}
	#wrapper-left{
		width: 63%;
		padding-right: 2%;
	}
	#wrapper-right{
		width: 35%;
	}
}
@media screen and (min-width: 800px) and (max-width: 910px) {
	#wrapper-content{
		width: 98%;
		margin-left: 1%;
	}
	.article{
		font-size: 90%;
	}
	.article-triple .article-sub-text{
		display: none;
	}
}
@media screen and (min-width: 910px) and (max-width: 1100px) {
	#wrapper-content{
		width: 90%;
		margin-left: 5%;
	}
	.article{
		font-size: 90%;
	}
	/*.article-triple .article-sub-text{
		display: none;
	}*/
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
	#wrapper-content{
		width: 80%;
		margin-left: 10%;
	}
}
@media screen and (min-height: 100px) and (max-height: 600px){
	#result_form, #local_answer{
		height: 30%;
	}
}
@media screen and (min-height: 600px) and (max-height: 700px){
	#result_form, #local_answer{
		height: 40%;
	}
}

@media screen and (min-height: 700px) and (max-height: 850px){
	#result_form, #local_answer{
		height: 50%;
	}
}
