/*
 DEPENDENCIES
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@font-face {
    font-family: Proxima SemiBold; /* Имя шрифта */
    src: url(fonts/ProximaNova-Semibold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima BlackIt; /* Имя шрифта */
    src: url(fonts/ProximaNova-BlackIt.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Proxima Black; /* Имя шрифта */
    src: url(fonts/ProximaNova-Black.ttf); /* Путь к файлу со шрифтом */
   }
   }
@font-face {
    font-family: Proxima Thin; /* Имя шрифта */
    src: url(fonts/ProximaNovaT-Thin.ttf); /* Путь к файлу со шрифтом */
   }
/*
 BODY
*/
body{
	background-image: url(images/bg.jpg);
	background-size: 100%;
	overflow-y: hidden;
}
/*
 LOGO
*/
#logo{
	/*width: 100%;
	height: 25%;*/
	--width: 17.3%;

	position: absolute;
	left: calc((101% - var(--width))/2);
	top: 15%;
	height: 15%;
	width: var(--width);

	background-image: url(images/logo_transp_w.png);
	background-size: 99%;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.5s ease;
}
	#logo:hover{
		/*background-color: #fff;*/
		transform: translateY(-5%);
		/*cursor: pointer;*/
	}
/*
 INPUT_FORMS
*/
.input_form{
	--width: 16%;

	position: absolute;
	left: calc((100% - var(--width))/2);
	top: 28%;
	/*height: 30%;*/
	width: var(--width);

	background-color: #fff;
}
	.input_form input{
		width: calc(100% - 20px);
		background-color: #e8e8e8;
		border: none;
		padding: 10px;
	}
	.input_form input:focus{
		outline: none;
	}
	#registr{
		display: none;
		border: 2px #e401cf solid;
	}
	#login{
		border: 2px #e401cf solid;
	}

.check_but{
	width: 90%;
	background-color: #e8e8e8;
	border: none;
	color: black;
	padding: 10px;
	padding-bottom: 0px;
	line-height: 110%;
	margin: 5%;

	opacity: 0.5;

	transform: skewX(-12deg) translateY(0%);
	font-family: 'Proxima Black';
	font-size: 150%;
	color: white;
	background-color: #e401cf;
	transition: all 0.5s ease;
}	
	#check_reg{
		display: none;
	}
	#check_reg:hover{
		cursor: pointer;
		opacity: 1;
		transform: skewX(-12deg) translateY(5%);
	}

	#check:hover{
		cursor: pointer;
		transform: skewX(-12deg) translateY(5%);
	}




.title{
	/*position: absolute;
	left:21%;
	top:10%;*/
	text-align: center;
	width: 100%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

	color: #fff;
	font-family: 'Proxima SemiBold';
	font-size: 150%;
	background-color: #e401cf;
	
}

/*#reg_form{
	position: absolute;
	left:15%;
	top:40%;
	height: 30%;
	width: 80%;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
}*/
.generic_form{
	/*position: absolute;
	left:15%;
	top:40%;*/
	/*height: 90%;*/
	width: 90%;
	margin: 5%;
	padding-top: 5%;

	font-family: 'Comfortaa', cursive;
	font-size: 15px;
}
	.generic_form form{
		float: center;	
	}

#error_div{
	--width: calc(16% + 4px);

	position: absolute;
	left: calc((100.2% - var(--width))/2);
	top: 60%;
	width: var(--width);
	line-height: 50%;

	text-align: center;
	transition-property: transform,opacity;
	transition-timing-function: ease;
	transition-duration: 2s;
	/*transition:  2s ease;*/
	transform: translateX(-30px);
	opacity: 0;
	color: white;
	font-family: 'Proxima SemiBold';
	background-color: rgba(245, 70, 12, 0.7);
	/*border: 2px rgba(245, 70, 12, 0.7) solid;*/
}
	#error_div:hover{
		transform: scale(1.05);
	}

#help_div{
	margin-top: 20%;
	font-family: 'Proxima BlackIt';
}
	#help_div p{
		padding: 3px;
		width: auto;
		transition: 0.4s;
	}
	#help_div p:hover{
		background-color: #e401cf;
		cursor: pointer;
		color: #fff;
		transform: translateY(5%);
	}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes drop {
  10%{
    transform: translate3d(-1px, 10%, 0);
  }
  20%{
    transform: translate3d(2px, 25%, 0);
  }
  30%{
    transform: translate3d(-2px, 40%, 0);
  }
  40% {
    transform: translate3d(0, 80%, 0);
  }
  50% {
    transform: translate3d(0, 190%, 0);
  }
  60% {
    transform: translate3d(0, 250%, 0);
  }
  70% {
    transform: translate3d(0, 340%, 0);
  }
  80% {
    transform: translate3d(0, 400%, 0);
  }
  90% {
    transform: translate3d(0, 500%, 0);
  }
}
@keyframes drop_end{
	0% {
    transform: translate3d(0, 500%, 0);
  }
	100% {
    transform: translate3d(0, 500%, 0);
  }
}

.apply-shake {
    animation:drop 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.apply-drop {
    animation:drop 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transition: 0s;
    transform: translate3d(0, 500%, 0);
}
.apply-drop-end {
    animation:drop_end 100s cubic-bezier(.36,.07,.19,.97) 0.82s;
}