.article-one{
	width: 100%;
	height: 20%;
	background-image: url('images/art1.jpg');
	background-size: 100%;
	background-position: center;
	margin-bottom: 3%;
	float: left;
}
.article-double{
	width: 48.5%;
	height: 20%;
	min-height: 20%;
	background-size: 110%;
	background-position: center;
	margin-bottom: 3%;
	/*margin-right: 3%;*/
	float: left;
	
}	
.article-triple{
	width: 31.33333%;
	height: 20%;
	background-image: url('images/bg.jpg');
	background-size: 120%;
	background-position: center;
	margin-bottom: 3%;
	/*margin-right: 3%;*/
	float: left;
	
}	
	#article-tp-to-chat{
		display: none;
	}
	.article{
		transition: all 0.5s ease;
	}
	.article-one:hover{
		background-size: 110%;
		cursor: pointer;
	}
	.article-double:hover{
		background-size: 120%;
		cursor: pointer;
	}
	.article-triple:hover{
		background-size: 130%;
		cursor: pointer;
		padding-left: 20px;
		width: calc(31.33333% - 20px);
	}
	.article-triple-separator{
		width: 3%;
		float: left;
	}
	.article-one-separator{
		width: 100%;
		float: left;
	}
	.article-text{
		text-decoration: underline;

	}
	.article-text:hover{
		background-color: #333 !important;
		padding-left: 20px;
		width: calc(100% - 20px);
		color: #fff;
		cursor: pointer;
	}
	.article-content{
		background: linear-gradient(to right, rgba(255,255,255,0.7) 0%, 50%,rgba(255,255,255,0) 100%);
		color: #000;
		width: 100%;
		height: 100%;
		float: left;
	}
	.article-watch{
		height: 100%;
		float: right;
		width: 0%;	
		background-color: #333;
		transition: 0.5s;
	}
	.article-content br{
		line-height: 0%;
	}
	.article-content h1 i{
		width: 0px;
		line-height: 0px;
	}
	.article-content h1{
		line-height: 80%;
		margin-left: 3%;
		font-family: 'Proxima BlackIt';
	}
	.article-content p{
		margin-left: 3%;
		font-family: 'Proxima Semibold';
	}
	.article-content p b{
		background-color: #333;
		padding: 3px;
		padding-left: 5px;
		padding-right: 5px;

		color: #fff;
	}

#local_chat{
	padding: 3px;
	background-color: #f8f8f8;
	font-family: 'Proxima Semibold';
}
	.chat-my-msg{
		float: left;
		border-left: 3px #e401cf solid;
		padding-left: 3px;
	}
	.chat-my-header{
		float: left;
		color: #e401cf;
	}

.wrapper{
	height: 100%;
	margin-top: 7%;
	top: 0px;
	width: 50%;
	margin-left: 25%;
	background-color: #fff;
}
	.wrapper h1{
		font-family: 'Proxima BlackIt';
		font-size: 200%;
		padding-left: 2px;
	}
	.wrapper p{
		font-family: 'Proxima Semibold';
		font-size: 100%;
	}
	.wrapper a{
		color: #555;
		background-color: #fff;
		transition: all 0.5s ease;
		padding-left: 3px;
		padding-right: 3px;
		/*text-decoration: underline;*/
	}
	.wrapper a:hover{
		color: #fff;
		background-color: #333;
	}
	.wrapper h2{
		font-family: 'Proxima BlackIt';
		font-size: 200%;
		text-align: center;
	}
	.wrapper-logo{
		background-image: url(images/logo_transp_b.png);
		/*background-color: red;*/
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		padding-top: 0.6%;
		font-size: 130%;
		color: rgba(255,255,255,0);
		width: 100%;
		height: 10%;
	}

@media screen and (min-width: 0px) and (max-width: 300px){
	.wrapper{
		margin-top: 30%;
		width: 90%;
		margin-left: 0%;
	}
}
@media screen and (min-width: 300px) and (max-width: 500px){
	.wrapper{
		margin-top: 20%;
		width: 80%;
		margin-left: 7.3%;
	}
}
@media screen and (min-width: 500px) and (max-width: 600px){
	.wrapper{
		margin-top: 15%;
		width: 80%;
		margin-left: 7.3%;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px){
	.wrapper{
		margin-top: 12%;
		width: 80%;
		margin-left: 10%;
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px){
	.wrapper{
		margin-top: 9%;
		width: 70%;
		margin-left: 15%;
	}
}
@media screen and (min-height: 1200px) and (max-height: 2000px){
	.wrapper{margin-top: 14%;}
}


@media screen and (min-width: 0px) and (max-width: 300px) {
	.article-one{
		height: 15%;
		font-size: 80%;
	}	
	.article-triple, .article-double{
		width: 100%;
		background-size: 100%;
		height: 15%;
		font-size: 80%;
	}	
	.article-triple:hover{
		width: calc(100% - 20px);
	}
	.article-triple-separator{
		display: none;
	}

	#article-tp-to-chat{
		display: block;
	}
	.article-sub-text{
		display: none;
	}
	.article-sub-money{
		display: block !important;
	}
}
@media screen and (min-width: 300px) and (max-width: 500px) {
	.article-one{
		height: 15%;
	}	
	.article-triple, .article-double{
		width: 100%;
		background-size: 100%;
		height: 15%;

	}	
	.article-triple:hover{
		width: calc(100% - 20px);
	}
	.article-triple-separator{
		display: none;
	}
	#article-tp-to-chat{
		display: block;
	}
	.article-sub-text{
		display: none;
	}
	.article-sub-money{
		display: block !important;
	}
}
@media screen and (min-width: 500px) and (max-width: 600px) {
	.article-one{
		height: 15%;
	}	
	.article-triple, .article-double{
		width: 100%;
		background-size: 100%;
		height: 15%;
	}	
	.article-triple:hover{
		width: calc(100% - 20px);
	}
	.article-triple-separator{
		display: none;
	}
	.article-sub-text{
		display: none;
	}
	.article-sub-money{
		display: block !important;
	}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	.article-one{
		height: 20%;
	}	
	.article-triple, .article-double{
		width: 100%;
		background-size: 100%;
		height: 20%;
	}	
	.article-triple:hover{
		width: calc(100% - 20px);
	}
	.article-triple-separator{
		display: none;
	}
}
@media screen and (min-width: 900px) and (max-width: 1100px) {
	.wrapper-content{
		width: 90%;
		margin-left: 5%;
	}
	.article{
		font-size: 90%;
	}
	/*.article-triple .article-sub-text{
		display: none;
	}*/
}